name: Tests

on: ['push', 'pull_request']

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: ['8.3', '8.4', '8.5']
        laravel: ['^11.44.2', '^12.52.0']
        dependency-version: ['prefer-stable']
        include:
         - laravel: '^12.52.0'
           testbench: '10.*'
         - laravel: '^11.44.2'
           testbench: '9.*'
         - php: '8.3'
           laravel: '^11.44.2'
           testbench: '9.*'
           dependency-version: 'prefer-lowest'

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.dependency-version }}

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        extensions: dom, mbstring, zip, fileinfo
        coverage: none

    - name: Install Composer dependencies
      run: |
        composer require "laravel/framework:${{ matrix.laravel }}" --no-interaction --no-update
        composer require --dev "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
        composer update --${{ matrix.dependency-version }} --prefer-dist --no-interaction

    - name: Integration Tests
      run: php ./vendor/bin/pest
